{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<br>
<br>
<br>
<br>
<br>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<section>
    <p>
        Добро пожаловать в <span class="highlight-text">"Терапию"</span> – место, где осень встречается с ароматом свежесваренного кофе.
        Мы создали уютное пространство, вдохновленное золотыми красками осени, чтобы вы могли насладиться моментом спокойствия и тепла.
    </p>
    <p>
        Наша философия проста: <span class="highlight-text">каждая чашка кофе – это маленькая терапия для души</span>.
        Мы тщательно отбираем лучшие сорта кофе со всего мира и создаем уникальные сезонные напитки, которые согреют вас в прохладные осенние дни.
    </p>
</section>
<section>
    <p>
        <img src="{% static 'app/content/photo7.jpg' %}" alt="Эстетика Лис" class="custom-img">
        <img src="{% static 'app/content/photo1.jpg' %}" alt="Эстетика Поезд" class="custom-img">
        <img src="{% static 'app/content/photo5.jpg' %}" alt="Эстетика Кот" class="custom-img">
        <img src="{% static 'app/content/photo3.jpg' %}" alt="Эстетика Кофе" width="224" height="305"> <!--class="custom-img"-->
    </p>
</section>
<section>
    <p>
        <br />
        В "Терапии" вы найдете не только изысканные напитки, но и атмосферу, располагающую к релаксации и самопознанию.
        Мягкий свет, приглушенная музыка и теплые оттенки интерьера создают идеальное место для встреч с друзьями, работы или просто момента наедине с собой.
    </p>
    <p>
        Мы верим, что осень – это не просто время года, а состояние души.
        Поэтому наша кофейня – это больше, чем просто место, где можно выпить кофе.
        Это <span class="highlight-text">пространство для вдохновения, уюта и новых открытий</span>.
    </p>
</section>

{% endblock %}
