{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<br>
<br>
<br>
<br>
<br>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    <br />
    <p class="tagline">Осенняя магия в каждой чашке</p><br />
    <br>В нашем стремительном мире важно находить моменты для себя,
    чтобы остановиться, вдохнуть глубже и насладиться мгновением.
    <br />Все, что нужно, — это одна чашка кофе, чтобы отпустить заботы и довериться своему внутреннему голосу.

    <br />✨ И помните, что каждое утро может быть началом чего-то удивительного.
    Кофейня "Терапия" помогает вам оставаться на связи с собой и миром вокруг.
    <br /><br />
    Телефон:    89113963700
</address>

<address>
    <!--<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
    <strong>Время прекрасных историй:</strong> <a href="https://vk.com/tchk_nap/coffee5">Кафе "Терапия"</a> <br>
    <strong>Место обитания приятных записок о любви к себе, исцелении и принятии:</strong> <a href="https://vk.com/your__tea/coffee4">[sweet tea]</a> <br>
    <strong>Пространство эстетичных фотографий:</strong> <a href="https://vk.com/fluffybears/coffee6">Кофейня плюшевых медведей</a> <br>
</address>

{% endblock %}
